.navbar {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  background-color: #1e1e30;
  padding: 20px;
}
.bg-3 {
  background-color: #1e1e30;
}
.link {
  text-decoration: none;
  color: #ffffff;
  font-size: 16px;
  padding: 20px;
}
.mobile-links {
  display: none;
}
.link:hover {
  font-weight: bold;
}
.logo {
  width: 120px;
  height: 40px;
}
@media screen and (max-width: 768px) {
  .mobile-links {
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    align-items: center;
  }
  .logo {
    width: 90px;
    height: 40px;
  }

  .menu-icon {
    margin: 5px;
    height: 40px;
    width: 50px;
    color: white;
  }
  .navbar {
    display: none;
  }
}
