.bg-state {
  min-height: 100vh;
  background-color: #161625;
  color: #ffffff;
  font-weight: 600;
}
.top-bar {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  font-family: 'HK Grotesk';
  padding: 40px;
}
.state-main-heading {
  text-align: center;
}
.top-bar-heading {
  padding: 10px;
  font-size: 32px;
  color: #0ea5e9;
  background: rgba(2, 132, 199, 0.16);
  border-radius: 30px;
}
.date {
  font-size: 18px;
  color: #cbd5e1;
}
.tested {
  display: flex;
  flex-direction: column;
  color: #94a3b8;
}
.tested-name {
  font-size: 16px;
  align-self: flex-end;
}
.district-container {
  display: flex;
  flex-direction: row;
  min-width: 400px;
  padding-right: 100px;
  margin-bottom: 0px;
}
.district-list {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  padding: 30px;
}
.district-heading {
  font-size: 14px;
  padding-top: 15px;
}
.district-main-heading {
  font-size: 32px;
  padding-left: 20px;
}
.district-count {
  font-size: 20px;
  min-width: 110px;
}
.loader-bg {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  height: 100vh;
  background-color: #161625;
}
.flex-container {
  display: flex;
  flex-direction: column;
  align-items: center;
}
.district-description {
  padding-left: 20px;
  color: #94a3b8;
  font-size: 14px;
}
.chart {
  padding: 50px;
  height: 90vh;
  width: 85vw;
  margin: 20px;
  border-radius: 20px;
}
.toggles {
  padding: 20px;
}
.btn {
  padding: 20px;
  margin: 10px;
  border-radius: 10px;
  background-color: #1e1e30;
  color: #64748b;
  outline: none;
  border: transparent;
  min-width: 150px;
}
.btn:hover {
  background-color: black;
  color: #ffffff;
  font-weight: bold;
}
.chart.conf {
  background-color: rgba(255, 0, 0, 0.1);
  border-radius: 20px;
}
.chart.acti {
  background-color: rgba(0, 0, 255, 0.1);
  border-radius: 20px;
}
.chart.reco {
  background-color: rgba(0, 255, 0, 0.1);
  border-radius: 20px;
}
.chart.dece {
  background-color: rgba(220, 220, 220, 0.1);
  border-radius: 20px;
}
.chart.purp {
  background-color: rgba(190, 144, 212, 0.1);
  border-radius: 20px;
}
.chart.pink {
  background-color: rgb(255, 182, 193, 0.1);
  border-radius: 20px;
}
.green {
  color: #28a745;
}
.blue {
  color: #007bff;
}
.gray {
  color: #6c757d;
}

@media screen and (max-width: 480px) {
  .top-bar {
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    flex-wrap: wrap;
  }
  .card-container {
    flex-wrap: wrap;
  }
  .card {
    max-width: 160px;
    min-width: 150px;
  }
  .chart {
    height: 60vh;
    width: 85vw;
  }
}
