.bg {
  background-color: #161625;
  margin: 0px;
  height: inherit;
  min-height: 100vh;
}
.horizontal-list {
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  min-width: 696px;
  list-style: none;
  padding-top: 20px;
}
.item {
  padding-left: 50px;
  font-size: 14px;
  display: inline;
  color: #ffffff;
  min-width: 230px;
  flex-wrap: wrap;
}
.states-list {
  list-style-type: none;
  margin-top: 0px;
  padding: 10px;
  margin: 10px;
  border: 1px solid #475569;
  border-radius: 10px;
}
.card-container {
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  align-items: center;
  flex-wrap: wrap;
}
.card {
  display: flex;
  flex-direction: column;
  align-items: center;
  max-width: 100px;
  color: #ffffff;
}
.stats-logo {
  height: 40px;
  width: 40px;
  margin: 20px;
}
.confirmed-class {
  font-size: 16px;
  color: #ff073a;
}
.confirmed-stats {
  color: #ff073a;
  font-size: 24px;
}
.active-class {
  font-size: 16px;
  color: #007bff;
}
.active-stats {
  color: #007bff;
  font-size: 24px;
}
.recovered-class {
  font-size: 16px;
  color: #28a745;
}
.recovered-stats {
  color: #28a745;
  font-size: 24px;
}
.deceased-class {
  font-size: 16px;
  color: #6c757d;
}
.deceased-stats {
  color: #6c757d;
  font-size: 24px;
}
.headings {
  display: flex;
  flex-direction: row;
  margin-bottom: 0px;
  padding: 10px;
  margin: 10px;
  color: #f8fafc;
  font-size: 16;
  list-style: none;
  background-color: #1e1e30;
  border: 1px solid #475569;
  border-radius: 10px;
}
.heading {
  padding-left: 50px;
  min-width: 230px;
}
.bg-2 {
  background-color: #161625;
  height: inherit;
  min-height: 100vh;
}
.search-box {
  width: 824px;
  height: 72px;
  border-radius: 10px;
  background-color: #2f2f43;
  color: #ffffff;
}
.search {
  background-color: #161625;
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  height: 20vh;
}
.search-item {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  min-width: 824px;
  max-width: 824px;
  padding: 0px 20px 0px 20px;
  align-items: center;
  border: 1px solid #94a3b8;
  border-bottom: none;
  border-left: none;
  border-right: none;
  color: #64748b;
  background-color: #161625;
  border-radius: 20px;
}
.states-link {
  text-decoration: none;
}
.red {
  color: #ff073a;
}
.green {
  color: #28a745;
}
.blue {
  color: #007bff;
}
.gray {
  color: #6c757d;
}
.search-list {
  align-items: center;
  max-width: 824px;
  margin-right: 308px;
  margin-left: 238px;
}
.state-code {
  color: #facc15;
  background: rgba(28, 212, 212, 0.16);
  border-radius: 4px;
  padding: 20px;
}
@media screen and (max-width: 768px) {
  .item {
    min-width: 200px;
    max-width: 400px;
    flex-wrap: wrap;
    text-align: center;
  }

  .search-item {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    min-width: 300px;
    max-width: 300px;
    border-left: none;
    border-right: none;
    padding-left: 10px;
    padding-right: 10px;
    flex-wrap: wrap;
    border-radius: none;
  }
  .search-list {
    flex-wrap: wrap;
    max-width: 350px;
    margin-right: 0px;
    margin-left: 0px;
    padding-left: 0px;
  }
  .states-link {
    margin-left: 0px;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    min-width: none;
    max-width: none;
    text-decoration: none;
  }
  .headings {
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    align-items: center;
    flex-wrap: wrap;
  }
  .card-container {
    flex-wrap: wrap;
  }
  .horizontal-list {
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
    align-items: center;
    padding: 20px;
    min-width: 400px;
    max-width: 400px;
    flex-wrap: wrap;
  }
  .table {
    margin: 0px;
    padding: 0px;
    min-width: 0px;
    max-width: 400px;
  }
  .state-name {
    min-width: 100px;
    max-width: 150px;
  }
  .card {
    max-width: 160px;
    min-width: 200px;
  }
  .state-code {
    justify-content: flex-end;
  }
}
