.bg {
  background-color: #161625;
  margin: 0px;
  height: inherit;
  min-height: 100vh;
  font-family: 'Open Sans', sans-serif;
}
.horizontal-list {
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  min-width: 400px;
  list-style: none;
  padding-top: 20px;
}
.item {
  font-size: 14px;
  color: #ffffff;
  flex-wrap: wrap;
}
.states-list {
  width: 90vw;
  margin-top: 0px;
  padding: 10px;
  margin: 10px;
  border: 1px solid #475569;
  border-radius: 10px;
}
.card-container {
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  align-items: center;
  flex-wrap: wrap;
}
.card {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 300px;
  color: #ffffff;
  background-color: transparent;
  border: none;
}
.stats-logo {
  height: 40px;
  width: 40px;
  margin: 20px;
}
.confirmed-class {
  font-size: 16px;
  color: #ff073a;
}
.card:hover {
  color: #ffffff;
}
.card.conf:hover {
  background-color: rgba(255, 0, 0, 0.1);
  border-radius: 20px;
}
.card.acti:hover {
  background-color: rgba(0, 0, 255, 0.1);
  border-radius: 20px;
}
.card.reco:hover {
  background-color: rgba(0, 255, 0, 0.1);
  border-radius: 20px;
}
.card.dece:hover {
  background-color: rgba(220, 220, 220, 0.1);
  border-radius: 20px;
}
.confirmed-stats {
  color: #ff073a;
  font-size: 24px;
}
.active-class {
  font-size: 16px;
  color: #007bff;
}
.active-stats {
  color: #007bff;
  font-size: 24px;
}
.recovered-class {
  font-size: 16px;
  color: #28a745;
}
.recovered-stats {
  color: #28a745;
  font-size: 24px;
}
.deceased-class {
  font-size: 16px;
  color: #6c757d;
}
.deceased-stats {
  color: #6c757d;
  font-size: 24px;
}
.to-center {
  display: flex;
  flex-direction: row;
  justify-content: center;
}
.headings {
  color: #f8fafc;
  font-size: 16;
  list-style: none;
  background-color: #1e1e30;
  border: 1px solid #475569;
  border-radius: 10px;
}
th,
td {
  text-align: center;
}
td {
  padding: 10px;
}
.left {
  text-align: left;
}
.white {
  color: white;
}
.bg-2 {
  background-color: #161625;
  height: inherit;
  min-height: 100vh;
}
.search-box {
  width: 800px;
  height: 72px;
  border-radius: 10px;
  background-color: #2f2f43;
  padding: 10px;
  color: #ffffff;
  border-color: transparent;
  outline: none;
}
.search-icon {
  color: #ffffff;
  margin: 20px;
}
.search {
  background-color: #161625;
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  height: 20vh;
}
.search-item {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  width: 800px;
  padding: 0px 20px 0px 20px;
  align-items: center;
  border: 1px solid #64748b;
  color: #64748b;
  background-color: #161625;
  margin: 10px;
  border-radius: 20px;
}
.sort {
  margin: 5px;
}
.sort:hover {
  cursor: pointer;
}
.states-link {
  text-decoration: none;
}
.states-link:hover {
  background-color: #64748b;
  border-radius: 20px;
}
.red {
  color: #ff073a;
}
.green {
  color: #28a745;
}
.blue {
  color: #007bff;
}
.gray {
  color: #6c757d;
}
.arrow-image {
  height: 20px;
}
.arrow-color {
  background-color: #2f2f43;
  color: #facc15;
}
.search-list {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
}
.table-scroll {
  overflow: auto;
}
.state-name {
  color: white;
}
.state-code {
  color: #facc15;
  background: rgba(28, 212, 212, 0.16);
  border-radius: 4px;
  font-size: 24px;
  padding: 20px;
}
@media screen and (max-width: 480px) {
  .search-icon {
    display: none;
  }

  .item {
    min-width: 200px;
    max-width: 400px;
    flex-wrap: wrap;
    text-align: center;
  }

  .search-item {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    min-width: 300px;
    max-width: 300px;
    border-left: none;
    border-right: none;
    padding-left: 10px;
    padding-right: 10px;
    flex-wrap: wrap;
    border-radius: none;
  }
  .table-scroll {
    overflow: scroll;
  }
  .search-list {
    flex-wrap: wrap;
    max-width: 360px;
    margin-right: 0px;
    margin-left: 0px;
    padding-left: 0px;
  }
  .states-link {
    margin-left: 0px;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    min-width: none;
    max-width: none;
    text-decoration: none;
  }
  .headings {
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    align-items: center;
    flex-wrap: wrap;
  }
  .card-container {
    flex-wrap: wrap;
  }
  .horizontal-list {
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
    align-items: center;
    padding: 20px;
    width: 350px;
    flex-wrap: wrap;
  }
  .table {
    margin: 0px;
    padding: 0px;
  }
  .state-name {
    min-width: 100px;
    max-width: 150px;
  }
  .card {
    max-width: 160px;
    min-width: 200px;
  }
  .state-code {
    justify-content: flex-end;
  }
}
